*, ::before, ::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  background-color: grey;
  color: white;
}

.container {
  max-width: 1140px;
  padding: 0 20px;
  margin: 0 auto;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column;
  -ms-flex-pack: space-evenly;
      justify-content: space-evenly;
  -ms-flex-align: center;
      align-items: center;
}

p {
  padding: 0 20px;
}

p:nth-child(odd) {
  color: red;
}
